.m-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.label {
  color: rgb(37, 37, 37) !important;
  font-size: 14px !important;
}
.info-avatar {
  width: 124px !important;
  height: 124px !important;
  border: 1px solid #d2bdbd;
  position: relative;
}
.fitness .table > thead > tr > th {
  font-size: 16px;
}
.fitness .table-hover > tbody > tr {
  cursor: pointer;
}
/* to hide input number arrows
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
